
.chero{
    
}

.cher::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    z-index: -1;
    position: absolute;
    background-attachment: fixed;
    
    filter: brightness(0.5);
    background-repeat: no-repeat;
    background-size: cover;
  }